<div *ngIf="loggedIn">
<mat-card>
  <mat-card-actions>
      <button mat-button (click)="logout()">Log out</button>
  </mat-card-actions>

<img style="float: left" src="{{ user.photoUrl }}">
<div>
  <h4> {{ user.name }}</h4>
  <p> {{ user.email }}</p>
</div>
</mat-card>
</div>

<button mat-button (click)="newProductBtn($event)">{{creatingProduct ? 'Cancel' : 'New Product'}}</button> <br/>
<br/>

<div *ngIf="creatingProduct">
  <app-create-product (onProductCreate)="onProductCreate($event)"></app-create-product>
</div> <br/>

<div layout-margin>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Filters:</mat-card-title>
    </mat-card-header>
    <mat-card-actions style="margin-left:10px">
      <mat-select placeholder="Category" [(ngModel)]="productFilter.category">
          <mat-option *ngFor="let category of categories" [value]="category">{{category}}</mat-option>
      </mat-select>
      <input matInput placeholder="Product Name" type="text" [(ngModel)]="productFilter.name">
    </mat-card-actions>
  </mat-card>

  <mat-card *ngFor="let product of products | ProductFilter:productFilter" style="margin-top:10px">
    <mat-card-header>
      <mat-card-title>{{ product.name }}</mat-card-title>
      <mat-card-subtitle>{{ product.priceInCents/100 | number:0 | currency:'EUR':true:'1.2-2'}} - {{ product.category}} - In Stock: {{product.available}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <button mat-button (click)="deleteProductBtn(product.id)">Delete</button>
      <button mat-button (click)="orderProductBtn(product.id)">Order</button>
    </mat-card-actions>
  </mat-card>
</div>