<mat-card>
    <mat-form-field>
        <input matInput placeholder="Product Name" type="text" [(ngModel)]="newProduct.name">
    </mat-form-field> <br/>
    <mat-form-field>
        <input matInput placeHolder="price" type="number" [(ngModel)]="tempPrice"(ngModelChange)="tempPriceChange(tempPrice)" min="0">
    </mat-form-field> <br/>
    <mat-card-content>
        <label>{{ newProduct.priceInCents/100 | currency:'EUR':true:'1.2-2'}}</label>
    </mat-card-content>
    <mat-select placeholder="Category" [(ngModel)]="newProduct.category">
        <mat-option *ngFor="let category of categories" [value]="category">{{category}}</mat-option>
    </mat-select>

    <mat-card-actions>
        <font color="red">{{newProduct.priceInCents < 0 ? 'Price cannot be negative.' : ''}}</font> <br/>
        <button mat-button [disabled]="!isValidForm()" (click)="createProductBtn(newProduct)">Create Product</button> <br/>
    </mat-card-actions>
</mat-card>