<mat-card>
  <mat-card-actions>
      <button mat-button (click)="loginGoogle()">Login with Google</button>
      <button mat-button (click)="loginFacebook()">Login with Facebook</button>
  </mat-card-actions>
</mat-card>